
{% block articleCard %}

<article class="article-card">
  <figure class="card-media">
    <div class="card-media-image"></div>
  </figure>
  <div class="card-name">
    <h3>Aymane alhamid</h3>
    <h4>Photographer / Director</h4>
  </div>
</article>

{% endblock %}
