<section class="content">

{% include('partials/article.html.twig') %}
{% include('partials/article.html.twig') %}
{% include('partials/article.html.twig') %}
{% include('partials/article.html.twig') %}
{% include('partials/article.html.twig') %}
{% include('partials/article.html.twig') %}

</section>