<form class="form-container">
    <div class="input-container">
        <label class="form-label" for="exampleInputEmail1">Email address</label>
        <input aria-describedby="emailHelp" class="form-control styled" id="exampleInputEmail1" placeholder="Email" type="email">
        <div class="form-text" id="emailHelp">We'll never share your email with anyone else.</div>
    </div>
    <div class="input-container">
        <label class="form-label" for="exampleInputPassword1">Password</label>
        <input class="form-control styled" id="exampleInputPassword1" placeholder="Password" type="password">
    </div>

    <button class="submit" type="submit">BOOK</button>
</form>