<section class="profile-head">
    <div class="left">
        <div class="top">
            <div class="naming">
                <h3 class="name">Aymane Alhamid</h3>
                <h4 class="role">Photographer / Director / Model</h4>
            </div>

            <p class="description">
                Aymane Alhamid is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not
                only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
                <br />
                <br />
                It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
            </p>
        </div>

        <div class="book-me-container bottom">
            <a class="book-me">
                Book me
            </a>
        </div>

    </div>
    <div class="right">
        <div class="profile-picture"></div>
    </div>
</section>

<div class="selected-works">
    <h2>
        Selected Works
    </h2>
</div>